#header {
  background: #fff;
  color: #A0B6C2 !important;
  color: hsla(0, 0%, 100%, .87);
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.profile-action {
  display: flex;
  width: 6%;
  height: 100%;
  background: #A0B6C2;
  text-align: center;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-action-dropdown {
  background: transparent;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  width: 25px;
  border: 2px solid #fff;
  line-height: 28px;
  margin-left: 10px;
}

.search {
  height: 30px;
  background: #E3EBEF;
  border: 0px;
  border-radius: 50px;
  width: 130px;
  margin-top: 6px;
}

.search input {
  height: 30px;
  background: #E3EBEF;
  border: 0px;
  float: left;
  width: 67%;
}

.search mat-icon {
  color: #AABAC3;
  float: left;
  margin: 4px 0px 0px 6px;
}

.devider {
  height: 100%;
  margin: 0px 20px 0px 20px;
  border-left: thin solid #e3ebef;
  width: 0px;
}

.an_refresh {
  float: right;
  color: #a0b6c2;
}

.auto-form {
  width: 100%;
}

.auto-full-width {
  width: 100%;
}

.auto-half-width {
  width: 50%;
}
